html {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

body{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
}


.container{
    display: flex;
    flex: 1;
    border-left: 2px solid brown;
    border-right: 2px solid brown;

}

.main :nth-child(1) {
    border-top: 2px solid brown;
  }

.main :nth-last-child(1){
    border-bottom: 2px solid brown;

}

.grid {
    display: flex;
    flex: 1;
    border: 2px solid brown;
    

}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

button{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;

}