html {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #343633;

}

body{
    display: flex;
    flex-direction: column;

}


.container{
    display: flex;
    flex: 1;
    border-left: 2px solid #524632;
    border-right: 2px solid #524632;

}

.main :nth-child(1) {
    border-top: 2px solid #7D70BA;
  }

.main :nth-last-child(1){
    border-bottom: 2px solid #7D70BA;

}

.grid {
    display: flex;
    flex: 1;
    border: 2px solid #7D70BA;
    

}

.main {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 60vh;

}

button{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    background-color: #7D70BA;

}

footer{
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: #DEC1FF;
}

.header{
    display: flex;
    justify-content: center;
    color: #C3C49E;

}